
@{
    ViewBag.Title = "Index";
}
<br />
<h1 style="font-family: Broadway">Skyline Events</h1>
<br />
<br />
<h4>
    Welcome to Skyline, your number one source for events near you. <br /><br />
    We're dedicated to giving you the very best experiences, with a focus on friendly environments, organisation and local acts.<br />
    Founded in 2008 by Alex Gray, Skyline has come a long way from its beginnings in Petone. When Alex first started out, his passion for local, friendly events drove them to quit his job, and start his own event management company so that Skyline can offer you the best experience possible. We now serve customers all over the country, and are thrilled that we're able to share our passion through our website.<br /><br />
    We hope you enjoy our events as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us (skylineevents@outlook.com)<br /><br />
    Sincerely,<br /><br /><br />
    Skyline<br />
</h4>
<br />
<br />
@Html.ActionLink("View Clients", "Index", "Client")<br />
@Html.ActionLink("View Events", "Index", "Event")<br /><br /><br />
<div class="container-fluid">
<div class="row">
    <center>
        <img src="~/content/Skyline3.jpg" />
    </center>
</div>
</div>


