
@{
    ViewBag.Title = "DeleteClientByEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Deleted Sucessfully!</h2>
<br />
<br />
@Html.ActionLink("Back to Client List", "Index", "Client")

