
@{
    ViewBag.Title = "EventIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-4"></div>
<h2>Delete Event</h2><br />
<h3> Enter Client & Event Details:</h3><br />
<p>
    <form method="GET" action="~/Delete/DeleteEvent">
        <b>Client Email:   </b><input type="text" name="clientEmail" /> <br /><br />
        <b>Event Name: </b><input type="text" name="eventName" /> <br /><br /><br />
        <input type="submit" value="Delete Event"/>
    </form>
</p>


